/**
 * Forms
 */
.form-main {
  width: 100%;
  padding-top: 0;
  margin-top: 50px;
  z-index: 99;

  h2 {
    font-size: 200%;
    letter-spacing: 3px;
  }
}

.form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 70%;
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #3c3c3c;
  font-weight: 500;
  font-size: 100%;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid $color-blue;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

.name-field {
  background-image: url('img/name.svg');
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.name-field:focus {
  background-image: url('img/name.svg');
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.email-field {
  background-image: url('img/email.svg');
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.email-field:focus {
  background-image: url('img/email.svg');
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.comment-field {
  background-image: url('img/comment.svg');
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}

.button-blue {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: $color-green;
  color: white;
  font-size: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  margin-top: 20px
}

.button-blue:hover {
  background-color: $color-blue;
  color: #fff;
  border: $color-blue solid 4px;
}

.submit:hover {
  color: $color-green;
}

@media only screen and (max-width: 580px) {
  .form-div {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
