/**
 * Header.
 */

header {
  width: 100%;
  height: 55px;
  position: fixed;
  z-index: 99;
}

.header-logo {
  height: 40px;
  padding: 5px;
  margin-top: 9px;
  float: left;
}

.transparent-background {
  background-color: $color-transparent;
  transition: background-color 0.2s ease;
}

.solid-background {
  background-color: $color-purple-dark;
  transition: background-color 0.2s ease;
}

@media (max-width: $breakpoint-desktop-width) {
  .header-logo {
    margin-left: 7px;
    height: 29px;
    padding: 5px;
    margin-top: 12px;

  }
}
