.hero {
  background: url('img/hero-background2.png') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -40px;

  .hero-content {
    margin-top: 89vh;
    text-transform: uppercase;
    @include span-columns(6);
    @include shift(6);
    text-align: center;
    width: 40%;

    .arrow {
      width: 9%;
      margin-top: 50px;
      opacity: 0.5;
      min-width: 40px;
      max-width: 60px;
    }

    h2 {
      font-size: 260%;
      letter-spacing: 2px;
      line-height: 123%;
      font-weight: 300;
    }

    p {
      margin-top: 40px;
    }

    .contact-button {
      padding: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    @media screen and (max-width: $breakpoint-tablet-vertical) {
      h2 {
        font-size: 200%;
      }
      .hero-content {
        width: 80%;
        margin-left: 10%;
      }
    }

  }

  @media screen and (max-height: $breakpoint-tablet-vertical) {
    .hero-content {
      margin-top: 94vh;
    }

  }

  @media screen and (max-width: $breakpoint-tablet-vertical) {
    .hero-content {
        width: 80%;
        margin-left: 10%;
    }

    .hero-content {
      margin-top: 108vh;
    }

  }

}

@media screen and (max-width: $breakpoint-tablet-wide) {
  .hero {
    background-position: center;
  }

}

@media screen and (max-width: $breakpoint-desktop-small-width) {
   .hero {
    background-position: -4px -40px;
  }
}

@media screen and (max-width: $breakpoint-phone-vertical) {
  .hero {
    background-position: -132px -40px
  }

}

