.landing-content {
  background: url('img/landing-content-background.jpg');
  background-repeat: no-repeat;
  background-position:left bottom; /* or 0&#37; 100% */
  background-size: 100vw;
  margin-top: 20%;

  .background-image-height-fix {
    width: 100%;
  }

  h2, h3 {
    text-transform: uppercase;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 5%;
    letter-spacing: 2px;
    line-height: 123%;
    width: 44%;
    font-size: 252%;
    margin-left: 28%;
    margin-right: 28%;
    font-weight: 400;
    letter-spacing: 2px;
  }

  h3 {
    padding: 10px;
    font-size: 130%;
    margin-left: 20%;
    width: 60%;
    letter-spacing: 1px;
  }

  .icon {
    width: 45%;
    margin-left: 29%;
    margin-right: 29%;
    padding: 11%;

  }

  .icon:nth-child(3n) {
    margin-left: 16%;
  }

  p {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 29px;
    font-size: 82%;
    line-height: 161%;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .button {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    background-color: $color-blue;
    padding: 8px;
    border-radius: 2px;
    color: #2a2432;
    text-decoration: inherit;
    font-size: 81%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    font-weight: 800;
    transition: background-color 0.2s ease;
  }

  .button:hover {
    cursor:pointer;
    background-color: $color-green;
    transition: background-color 0.2s ease;
  }

  @media screen and (max-width: $breakpoint-desktop-small-width) {
    .contact-form p {
      width: 90%;
    }

    p {
      margin: 8% auto;
    }

    h2 {
      width: 100%;
      padding: 10px;
      margin-left: 0px;
      margin-right: 0px;
      font-size: 160%;
    }

    .full {
      width: 100%;
    }

  }

}

@media screen and (max-height: $breakpoint-phone-height) {
  .landing-content {
    margin-top: 70%;
  }
}
