/**
 * Nav.
 */

.mobile-menu {
  display: none;

  nav {
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    float: right;
    background-color: #2b2434;
    width: 140px;
    margin-top: -9px;
    margin-right: 16px;
    padding: 12px;
    z-index: 1000;
    border-radius: 4px;
    text-align: center;
    border: 2px solid $color-purple-light;
    -webkit-box-shadow: 6px 6px 33px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 33px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 33px -2px rgba(0,0,0,0.75);
  }

  li a {
    text-decoration: none;
    color: #fff;
  }

  li:first-child {
    margin-top:0px;
  }

  li {
    margin-top: -6px;
    margin-left: -4px;
    padding: 10px;
  }

  li:hover {
    text-shadow: 0 0 10px rgba(255,255,255,0.005) ,
      0 0 20px rgba(255,255,255,0.005) ,
      0 0 20px rgba(255,255,255,0.005) ,
      0 0 30px rgba(#f9f9f9, 0.5) ,
      0 0 40px rgba(#f4f9f9, 0.5) ,
      0 0 70px rgba(#fcfcfc, 0.5) ,
      0 0 90px rgba(#ffffff, 0.5) ;
      transition: text-shadow 0.2s ease;
  }

  .contact-button{
    width: 74px;
    font-size: 83%;
    float: right;
    margin: 10px;
    text-align: center;
    margin-top: 16px;
    text-align: center;
  }

}

.mobile {
  display: none;

  .menu-button {
    padding: 14px;
    float: right;
    margin-right: 17px;
  }

  .contact-button {
    width: 74px;
    font-size: 83%;
    float: right;
    margin: 10px;
    margin-top: 16px;
    text-align: center;
  }

  .menu-button img {
    position: absolute;
    z-index: 1;
    width: 26px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
  }

  .menu-button img.active {
    z-index:3;
    opacity: 1;
  }

  .search-box {
    height: 25px;
    border-radius: 2px;
    background: url('img/searchIcon.png') no-repeat scroll 53px 3px;
    background-size: 17px;
    background-color: #fff;
    border: 0px;
    width: 73px;
    font-size: 83%;
    float: right;
    margin: 10px;
    margin-top: 16px;
    text-align: center;
  }

  .search-box:focus {
    background: none;
    background-color: #fff;
  }

}

.desktop {
  text-transform: uppercase;
  height: 30px;
  padding: 5px;
  margin-top: 18px;
  float: right;
  font-size: 64%;
  z-index: 99;
  .active-link {
    color: $color-blue-light;
    font-weight: bolder;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin-right: 30px;
    transition: text-shadow 0.2s ease;
  }

  li:hover {
    cursor:pointer;
      text-shadow: 0 0 10px rgba(255,255,255,0.05) ,
      0 0 20px rgba(255,255,255,0.05) ,
      0 0 20px rgba(255,255,255,0.05) ,
      0 0 30px #f9f9f9 ,
      0 0 40px #f4f9f9 ,
      0 0 70px #fcfcfc ,
      0 0 90px #ffffff ;
      transition: text-shadow 0.2s ease;
  }

  li a {
    text-decoration: none;
    color: #fff;
  }

  .search-box {
    margin-top: -11px;
    height: 30px;
    border-radius: 2px;
    background: url('img/searchIcon.png') no-repeat scroll 133px 5px;
    background-size: 17px;
    padding: 15px;
    background-color: #fff;
    border: 0px;

  }
  @media (max-width: $breakpoint-tablet-vertical) {
    .search-box {

    }
  }
  @media (max-width: 600px) {
    li {
      float: left;
      margin-right: 10px;
    }
  }
}

@media (max-width:$breakpoint-desktop-width) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}


