.page-footer {
  font-size: 17px !important;
  padding: 19px;
  margin-bottom: 0px !important;
}

@media (max-width: $breakpoint-desktop-small-width) {
  .page-footer {
    font-size: 14px !important;
     padding: 3px;
  }
}
