// BREAKPOINTS
$breakpoint-desktop: 1784px;
$breakpoint-tablet-wide: 1250px;
$breakpoint-tablet-vertical: 768px;
$breakpoint-desktop-width: 940px;
$breakpoint-desktop-small-width: 850px;
$breakpoint-phone-wide: 480px;
$breakpoint-phone-vertical: 400px;
$breakpoint-phone-height: 650px;

