$color-main: #fff;
$color-green: #7bd245;
$color-blue: #00aff2;
$color-purple: #2a2029;
$color-transparent: rgba(0, 0, 0, 0);

//lighter
$color-purple-light: lighten($color-purple, 5%);
$color-blue-light: lighten($color-blue, 10%);

//darker
$color-purple-dark: darken($color-purple, 5%);
