.general-page {
  margin: 0 auto;
  padding-top: 200px;
}
.general-page-header {
  text-align: left;

  h1 {
    font-size: 350%;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
  }
  ul {
    padding-left: 0px;
  }

  li:first-child {
    padding-left:0px;
  }

  nav {
    margin-top: 10px;
  }

  li {
    display: inline;
    padding: 20px;
    font-size: 123%;
    color: $color-blue;
  }
  a {
    color: $color-blue;
    text-decoration: none;
    moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
  }
  a:hover {
    color: $color-main;
    moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
  }

}

.general-page-content {
  margin-top: 20px;

  p {
    margin-bottom: 1.5em;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 100%;
    font-weight: 300;
  }

  p:first-child  {
  	font-size: 130%;
    font-weight: 400;
    margin-bottom: 2em;
  }

}

.section-image-container {
  position: relative;

  .section-image {
    display: block;
    width: 100%;
    position: relative;

  }

  .gradient {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    @include linear-gradient(to bottom, $color-transparent, rgba($color-purple, 1));
  }

}

.footerImage {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  z-index: -1;
  position: relative;
  margin-top: -12%;

}
.general-page-footer {
  font-size: 17px !important;
  text-align: center;
  padding: 16px;
  margin-top: -57px;
  margin-bottom: 0px !important;
}
@media screen and (max-width: $breakpoint-tablet-vertical) {
  .general-page-content {
    p:first-child  {
      font-size: 112%;
    }
  }
}
@media screen and (max-width: $breakpoint-tablet-vertical) {
  .general-page-header {
    li {
      padding: 7px;
      font-size: 100%;
    }
  }
}
@media screen and (max-width: $breakpoint-phone-wide) {
  .general-page {
  	padding-top: 100px;
  }

  .general-page-footer {
    font-size: 14px !important;
    padding: 3px;
    margin-top: -55px;
  }

}
