/**
 *   Grid
 */

.container {
  @include outer-container;
}

.row {
  @include row();
}

.full {
  @include span-columns(12);
}

.half {
  @include span-columns(12/2);
}

.third {
  @include span-columns(12/3);
}

.quarter {
  @include span-columns(12/4);
}

@media screen and (max-width: $breakpoint-tablet-vertical) {
  .third {
    @include span-columns(12);
    @include omega();
  }
}
