.center-content-horizontal {
  text-align: center;
}

.view-port-height{
  height: 100vh;
}

.vertical-align-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact-button {
  text-transform: uppercase;
  background-color: $color-green;
  color: #2b2434 !important;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  margin-top: -6px;
  color: inherit;
  text-decoration: inherit;
  transition: background-color 0.2s ease;
}

.contact-button:hover {
  cursor: pointer;
  background-color: #14a2e2;
  transition: background-color 0.2s ease;
}

.constrained {
  width: 80%;
  margin: 0 auto;
}
