$font-stack: "proxima-nova", sans-serif;

html {
  font-size: 1em;
  letter-spacing: 0.2pt;
  line-height: 0.8;
  color: $color-main;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
}

p {
  font-size: 100%;
}

h1 {
  font-size: 150%;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 120%;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
}

strong {
  font-family: $font-stack;
  font-style: normal;
  font-weight: 600;
}


